PROJECT_NAME=PresentIQ
ENVIRONMENT=development

DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/presentiq
REDIS_URL=redis://localhost:6379/0

SECRET_KEY=change-this-in-real-dev
ACCESS_TOKEN_EXPIRE_MINUTES=10080

BACKEND_CORS_ORIGINS=["http://localhost:3000"]