fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary

pydantic
pydantic-settings
email-validator

python-dotenv
python-multipart

passlib[bcrypt]
PyJWT

celery
redis

numpy
faiss-cpu
sentence-transformers
torch
transformers

PyMuPDF
python-pptx
pillow
pytesseract

reportlab
xlsxwriter

httpx

python-dateutil